<!DOCTYPE html >
<html>
    <head>
           <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width,
                   initial-scale=1,
                   maximum-scale=1">
      <title>weather</title>
    </head>
    <body>
         
           <input type="text" id="location">
           <input type="button" id="search" value="search">
         
           
           
       <script src='../static/clint.js'></script>
    </body>
</html>